[submodule "modules/json-functions-xs"]
	path = modules/json-functions-xs
	url = https://github.com/wakaba/perl-json-functions-xs
[submodule "t_deps/modules/test-x1"]
	path = t_deps/modules/test-x1
	url = https://github.com/wakaba/perl-test-x1
